.header{
    background: var(--gray-700);
    display: flex;
    justify-content: center;
    padding: 5rem 0;
    width: 100%;
}


.header img{
    height: 3rem;
    width: 7.87rem;
    margin-right: 1rem;
    left:41rem;
    top:4.5rem;
    
}